[Unit]
Description=launch flexget
After=remote-fs.target

[Service]
User=flexget
Group=flexget
Type=simple
ExecStart=/var/lib/flexget/virtualenv/bin/flexget --cron execute
Restart= on-failure
