[Unit]
Description=Actualiza el dns
After=network.target

[Service]
Type = simple
ExecStart=/usr/bin/python /usr/local/bin/actualizar_dns.py
Environment=AWS_ACCESS_KEY_ID={{ aws['aws_access_key_id'] }}
Environment=AWS_SECRET_ACCESS_KEY={{ aws['aws_secret_access_key'] }}
