[Unit]
Description=Configuracion del montaje de la carpeta de datos de git

[Mount]
Where=/var/lib/dokuwiki/data
What=minas.local.lan:/data0/Wiki/data
Type=nfs
Options=rw,nfsvers=3
DirectoryMode=0700
